
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    font-size: 100%;
    font-family: Arial;
}

/* Navigation */

nav ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    
    
}

nav li {
    flex: auto;
    color: #07C3C3;
    border: 1px solid #07C3C3;
    background-color: white;
    
    padding: 4px 18px;
    border-radius: 20px;
}
nav a{
    justify-content: center;
    color: #07C3C3;
    font-family: serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
}

nav div {

}

nav table {
    align: center;
    border: 1px dotted red;
}

nav thead td {
    width: 100%;
    color: #07C3C3;
    border: 1px solid #07C3C3;
    background-color: white;
    padding: 4px 4px;
    border-radius: 50%;
}
}