html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;  
  }
  

body {

    font-family: Arial;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
 
}

h2,
h3 {
    margin-bottom: 1em;
    align-self: flex-start;
}

/* main {
    position: relative;
    margin-bottom: 10em;
    
} */

nav {
   align-self: center;
   margin: 1em 0;
}

header {
    height: auto;
    position: relative;
    display: block;
    
    margin-top: 0em;
    margin-bottom: 0em;
}

header img {
    object-fit: contain;
    object-position: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
    position: relative;
    max-width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: bottom;

    margin: 1.5em 0;
    width: 90%;
}

.content p {
    min-width: 80%;
    max-width: 800px;
}

.content ol
,.content ul {
    /* min-width: 80%;
    max-width: 800px; */
    width: 80%;
    align-self: center;
    /* padding-left: 4em; */
}

.content li { 
    margin-bottom: 1em;
}

.section h2 {
    margin-bottom: 1em;
}

.large_img {
    max-width: 100%;
}

.full_img {
    object-position: center;
    width: 100vw;
}

.small_img {
    width: 100%;
    /* max-width: 800px; */
    height: auto;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
    
}

.columns {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
}

.columns img {
    width: 100%;
    margin-bottom: 2em;
    cursor: pointer;
}






.invisible {
    display: none;
}


/* ===================================================Desktop */


@media screen and (min-width: 1200px) {
    nav {
        align-self: flex-start;
        margin: 1em 0 5em 70px;
     }

    .section {
        max-width: 800px;
    }

    .content {
        width: 100%;
    }

    .columns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        max-width: 100vw;
    } 
    
  

    .columns a {
        width: 45%;
        margin-right: 2em;
    }


}
