html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;  
  }
  

body {

    font-family: Arial;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
 
}

/* main {
    position: relative;
    margin-bottom: 10em;
    
} */

header img {
    object-fit: contain;
    object-position: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 1440px; */
    position: relative;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
    position: relative;
    max-width: 1440px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: bottom;

    margin: 1.5em 0;
    width: 90%;
    /* max-width: 800px; */
}

.content p {
    min-width: 80%;
    max-width: 800px;
}

.content ol {
    min-width: 80%;
    max-width: 800px;
}

.section h2 {
    margin-bottom: 1em;
}

.large_img {
    max-width: 1vw;
}

.full_img {
    object-position: center;
    width: 100%;
}

.small_img {
    width: 100%;
    /* max-width: 800px; */
    height: auto;
    object-fit: contain;
    object-position: center;
    
}

.columns {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
}

.columns img {
    width: 100%;
    margin-bottom: 2em;
}






.invisible {
    display: none;
}


/* ===================================================Desktop */


@media screen and (min-width: 1200px) {

    .section {
        width: 800px;
    }

    .content {
        width: 100%;
    }

    .columns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        max-width: 2000px;
    } 
    
  

    .columns a {
        width: 45%;
        margin-right: 2em;
    }


}
