/* * {
    margin: 0;
    padding: 0;
  } */
#title {
  width: 100%;
  text-align: center;
  
}

h4:after {
  width: 101%;
  border-bottom: 1px solid #C4C4C4;
  margin-top: 4px;
}

.sub-title-underline {
  /* color: #C4C4C4;
  width: 126px;
  margin-top: 4px; */
  align: left;
}

#sub-title-underline {
  width: 126px;
  border-top: 1px solid #C4C4C4;
  margin-top: 4px;
  color: #C4C4C4;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    border:1px solid red;
  }
.left-column {
    box-sizing: border-box;
    width: 50%;
    float: left;
    display: inline-block;
    border:1px solid red;
    
  }

.right-column {
    box-sizing: border-box;
    width: 50%;
    float: left;
    border:1px solid red;
  }

.circle {
    width: 95px;
    height: 95px;
    background: #C4C4C4;
    border-radius: 50%;
    margin-right: 32px;
    display: inline-block
  }

.left-column p {
  display: inline-block;
  position: relative;
  margin-left: 32px;
  bottom: 48px;
}

/* Typography */

h1 {
  font-family: "Work Sans";
  font-size: 48px;
  font-weight: lighter;
}

h2 {
  font-family: "Work Sans";
  font-size: 36px;
  font-weight: normal;
}

h3 {
  font-family: "Work Sans";
  font-size: 30px;
  font-weight: normal;
  color: #07C3C3;
}

h4 {
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: normal;
  color: #818080;
}
p {
  font-size: 18px;
  font-family: "Open Sans";
}