body {
    font-size: 100%;
    font-family: Arial;
}

#profile-pic {
    object-position: left;
    height: 500px;
    width: relative;
}

.bignbold {
    color: #07C3C3;
    font-size: 1.5rem;

}

.global {
    background-color: white;
    color: #07C3C3;
    border-color: #07C3C3;
    border-width: .5px;

}