
/* Global */


html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    font-size: 100%;
}


/* Typography */

h1 {
    font-family: "Merriweather";
    font-weight: lighter;
    color: #333333;
}

h2 {
    font-family: "Merriweather";
    font-weight: normal;
}

h3 {
    font-family: "Merriweather";
    font-weight: lighter;
    color: #07C3C3;
    font-size: 30px;
}

a {
    color: #07C3C3;
    text-decoration: none;
}
main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

@media screen and (max-width: 470px) {
    main {
        margin-top: 0;
    }
}

/* Hero */

.container-desktop {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.profile-pic-container {
    height: auto;
    width: 450px;

}

img.profile-pic {
    width: 100%;
}

.intro {
    max-width: 50%;
}

.intro h3 {
    display: inline-block;
    vertical-align: top;

    
}

.intro h1 {
    display: inline-block;
    position: relative;
    top: 1rem;
    margin-left: .8rem;
    font-size: 48px;
    color: #333333;
}


.intro p {
    font-size: 24px;
    color: #51565A;
    letter-spacing: 1.2px;
    line-height: 32px;
    max-width: 550px;
    font-family: "Avenir";
}



nav {
    border-width: .5px;
    margin-top: 3rem;
    min-width: 350px;
}


nav a.local {
    color: #07C3C3;
    border: 1px solid #07C3C3;
    background-color: white;
    color: #07C3C3;
    padding: 4px 18px;
    border-radius: 20px;
    font-family: serif;
    font-size: 18px;
    text-decoration: none;
    margin: 0 12px 0 0;
    text-transform: capitalize;
    
}

nav a.local:hover {
    border: 1px solid #818080;
    color: #818080;
}

.external {
    display: inline-block;
    width: 2rem;
    height: auto;
    padding: 1rem 1rem;
    margin-right: .75rem;

}

.dribbble{
    background: url('../images/Dribbble logo.png');
    background-position: center;
    background-size: cover;
}

.linkedin {
    background: url('../images/Linkedin Logo.png');
    background-position: center;
    background-size: cover;
}

.github {
    background: url('../images/Github\ logo.png');
    background-position: center;
    background-size: cover;
}

.dribbble:hover {
    background-image: url('../images/Dribbbble Hover.png');
}

.linkedin:hover {
    background-image: url('../images/LinkedIn\ Hover.png');
}

.github:hover {
    background-image: url('../images/Github\ Hover.png');
}


.container-mobile {
    display: none;
}

.container-tablet {
    display: none;
}

@media screen and (max-width: 930px ) {
    .container-desktop {
        display: none;
    }

    .container-mobile {
        display: none;
    }
    .container-tablet {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 5%;
    }

    .profile-pic-container {
        width: 300px;
        flex: none;
    }

   
    .intro p {
        margin-bottom: -10%;
    }

    #next-line {
        display: flex;
        justify-content: center;
    }

    #next-line p {
        display: block;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 3rem;
        color: #51565A;
        letter-spacing: 1.2px;
        line-height: 32px;
        max-width: 720px;
        font-family: "Open Sans";
    }

    nav {
        margin: 0;
        display: flex;
        flex: auto;
        justify-content: space-between;
        margin: 0 10%;
    }

    .local-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .external-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

   .local {
        
        padding: 4px 18px;
        margin: 0;
        border-radius: 20px;
        font-family: serif;
        font-size: 18px;
        text-decoration: none;
        text-transform: capitalize;
        
    }
    .local:last-child {
        margin-left: 15%;
    }

    .external {
        width: 100%;
        height: auto;
        padding: 1rem 1rem;
    }
}


@media screen and (max-width: 630px) {
    .container-desktop {
        display: none;
    }

    .container-tablet {
        display: none;
    }

    html {
        width: 100%;
    }

    .container-mobile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        margin-bottom: 5%;
    }

    .profile-pic-container {
        height: auto;
        width: 90%;    
    }
    
    img.profile-pic {
        width: 100%;
    }

   
    .intro {
        max-width: 100%;
        padding: 0 5%;
    }

    .intro h3 {
        display: inline-block;
        vertical-align: center;
        margin-left: 5%;
        
    }
    
    .intro h1 {
        display: inline-block;
        color: #333333;
        margin-left: 5%;
        top: 0;
    }
    
    .intro p {
        text-align: center;
        margin-bottom: 3rem;
    }
      
    
    nav {
        display: flex;
        margin: auto;
        flex: auto;
        flex-direction: column;
    }

   

    nav a.local {
        
        padding: 4px 18px;
        border-radius: 20px;
        font-family: serif;
        font-size: 18px;
        text-decoration: none;
        text-transform: capitalize;
        padding-left: 1rem;
        
    }

    a.local:last-child {
        margin-left: 0;
    }

    .external-container {
        /* margin-right: 30%; */
        margin: auto;
    }
    
    .external {
        display: inline-block;
        margin-top: 1.5rem;
        width: 1rem;
        height: auto;
        padding: 1rem 1rem;

    }
}


 /* Separator */

 .separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #808080;
    font-family: "work sans";
    margin-bottom: 40px;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #C4C4C4;
  }
  
  .separator:not(:empty)::before {
    margin-right: 3em;
    margin-left: 3em;
  }
  
  .separator:not(:empty)::after {
    margin-left: 3em;
    margin-right: 3em;
  }
        

.separator h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}


/* Case studies */

.case-studies {
    width: 100%;
    margin-bottom: 80px;
}

.thumbnail-container {
    box-sizing: border-box;
    width: 75%;
    min-width: 350px;
    height: auto;
    margin: 60px auto 20px auto;
    display: block;
    overflow: hidden;
    
 }
#chiv {
    box-shadow: 0 0 8px #F3CA74;
}
#makeathon {
    box-shadow: 0 0 8px #FF519C;
}
#motion-x {
    box-shadow: 0 0 8px #FFA00E;
}



 .thumbnail {
    
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    cursor: pointer;
    display: block;
    overflow: hidden;
    

 }

 #motion-x.thumbnail-container:hover,
    #makeathon.thumbnail-container:hover,
        #chiv.thumbnail-container:hover {
    box-shadow: 0 0 8px #808080;
 }

#motion-x.thumbnail-container:active,
    #makeathon.thumbnail-container:active,
        #chiv.thumbnail-container:active {
    box-shadow: inset 0 0 #736B92;
}

 .case-studies h2 {
     display: none;
     margin-left: 15%;
     margin-bottom: 16px;
     max-width: 75%;
 }

 footer a {
     float: right;
     margin: 2rem 3rem;
     font-family: 'Courier New', Courier, monospace;
     opacity: 0.9;
     text-decoration: none;
     
 }

 footer a:hover {
     color: #07C3C3;
     opacity: 1;
 }


 /* DUMP


.work::before {
    background: linear-gradient(to right, rgba(240,240,240,0), #fff);
    margin-right: 4vh;
}
.work::after {
    background-color: black;
    width: 31.3%;
    height: 1px;
    /* display: inline-block; 
    float: right;
    /* margin: 40px 40px; 
    color: #51565A;
}
 
.left-line {
     background-color: black;
     width: 31.3%;
     height: 1px;
     display: inline-block;
     float: left;
     margin: 40px 40px;
     color: #51565A;
 }

h4 {
     float: left;
     left: 48%; 
     display: inline-block; 
     bottom: 4px;
     color: #51565A;
     font-weight: lighter;
     width: 31.3%;
 }

 .right-line {
    background-color: black;
    width: 31.3%;
    height: 1px;
    display: inline-block;
    float: right;
    margin: 40px 40px;
    color: #51565A;
 }

 .work {
     /* margin: 40px;
     overflow: auto;
     width: 100%;
     margin: 40px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
} 

 .line {
    background-color: black;
     width: 500px;
     height: 1px;
     margin: 60px 80px; 
 }